    * {
        overflow-x: hidden;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    
    body{
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;

    }

    .inicio {
        text-align: center;
        background-image: url(scr/cortes/jovem-na-barbearia-aparando-cabelo.jpg);
        height: 100vh;
        width: 200vh;
        background-size: 100%;
        background-repeat: no-repeat;
        padding: auto;
        margin: auto;
        
    }

  .titulo {
    color: #F1EDEC;
  }

  
  html{
    background-color: #FFFFFF;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header i{
    font-size: 30px;
    color: #fff;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: #fff;
    text-decoration: none;
}

.btn-contato button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #8A1600;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

    h1, h2, h3{
        margin: 0;

    }

    nav ul{
        list-style: none;
        margin: 0;
        padding: 0;

    }

    nav li{
    display:inline-block;
    margin-right: 20px;
    
    }

    nav a{
        text-decoration: none;
        color: #fff;

    }

    section{
        padding: 40px 20px;
        text-align: center;

    }

    #banner, #contato{
        background-color: white;

    }

    #banner h2{
        font-size: 36px;

    }

    #banner p {
        text-align: center;
        color: #0D0D0D;
    }

    .servico{
        display: inline-block;
        vertical-align: top;
        width: 45%;
        padding: 20px;
        margin-bottom: 40px;
        background-color: #f2f2f2;

    }

    .servico img{
        width: 100px;

    }
    footer{
        background-color: #911717;
        padding: 20px;
        color: #FEE8DA;
        text-align: center;

    }
    form{
        text-align: center;

    }

    input,textarea{
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;

    }

    button{
        padding: 10px 20px;
        background-color: #911717;
        color: #FEE8DA;
        border: none;
        cursor: pointer;

    }

    .btn-agendar{
        background-color: #911717;
        color: #FEE8DA;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
    }
